.main-windows-container {
  background: linear-gradient(to bottom right, #000000, #00206f);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#lyrics {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: calc(100% / 3);
}

.lyrics_visible {
  transform: translateX(0px);
  transition-duration: 1s;
}

.lyrics_hidden {
  transform: translateX(-400px);
  transition-duration: 1s;
}

#lyrics_btn {
  position: relative;
  float: right;
  width: 50px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

#player {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% / 3);
}

#details {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: auto;
  padding-bottom: 50px;
}

#time {
  display: flex;
  align-self: center;
  margin-top: auto;
  font-size: large;
  padding-bottom: 10px;
}

#thumbnail {
  display: flex;
  align-self: center;
  margin-top: auto;
  border-radius: 5px;
  width: 300px;
}

#player_controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 10px;
}

#playlist {
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  width: calc(100% / 3);
}

#previous_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#stop_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#play-pause_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#forward_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

button {
  width: 70px;
  height: 70px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

img[id$="_btn_icon"] {
  width: 25px;
  height: 25px;
  opacity: 1;
}
