header {
  background: linear-gradient(to right, #000000, #001236);
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#header_btns {
  align-self: center;
}

#dragable_header {
  width: 95%;
  -webkit-app-region: drag;
}

#minimize_btn {
  width: 10px;
  height: 10px;
  padding-right: 15px;
}

#close_btn {
  width: 10px;
  height: 10px;
  padding-right: 15px;
}

#close_btn:hover {
  background-color: rgba(255, 0, 0);
  border-radius: 2px;
  width: 19px;
  height: 19px;
  transition-duration: 0.6s;
}

#minimize_btn_icon {
  width: 8px;
  height: 8px;
  opacity: 1;
}

#close_btn_icon {
  width: 8px;
  height: 8px;
  opacity: 1;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-windows-container {
  position: absolute;
  width: 100%;
  height: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom right, #000000, #00206f);
}

#lyrics {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  width: calc(100% / 3);
}

.lyrics_visible {
  transform: translateX(0px);
  transition-duration: 1s;
}

.lyrics_hidden {
  transform: translateX(-400px);
  transition-duration: 1s;
}

#lyrics_btn {
  position: relative;
  float: right;
  top: 20px;
  width: 50px;
  height: 50px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.lyrics_btn_visible {
  transform: translateX(0px);
  transition-duration: 1s;
}

.lyrics_btn_hidden {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateX(100px);
  transition-duration: 1s;
}

#player {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(100% / 3);
}

#details {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: auto;
  padding-bottom: 50px;
}

#time {
  display: flex;
  align-self: center;
  margin-top: auto;
  font-size: large;
  padding-bottom: 10px;
}

#thumbnail {
  display: flex;
  align-self: center;
  margin-top: auto;
  border-radius: 5px;
  width: 300px;
}

#player_controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
}

#playlist {
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  width: calc(100% / 3);
}

#previous_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#playlist_btn {
  position: relative;
  float: left;
  top: 20px;
  width: 50px;
  height: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

.playlist_btn_visible{
  transform: translateX(0px);
  transition-duration: 1s;
}

.playlist_btn_hidden {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform: translateX(-100px);
  transition-duration: 1s;
}

.playlist_visible {
  transform: translateX(0px);
  transition-duration: 1s;
}

.playlist_hidden {
  transform: translateX(400px);
  transition-duration: 1s;
}

button {
  width: 70px;
  height: 70px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#previous_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#stop_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#play-pause_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#forward_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#lyrics_btn_icon {
  width: 25px;
  height: 25px;
  opacity: 1;
}

#previous_btn_icon {
  width: 25px;
  height: 25px;
  opacity: 1;
}

#stop_btn_icon {
  width: 25px;
  height: 25px;
  opacity: 1;
}

#play-pause_btn_icon {
  width: 25px;
  height: 25px;
  opacity: 1;
}

#forward_btn_icon {
  width: 25px;
  height: 25px;
  opacity: 1;
}

#playlist_btn_icon {
  width: 25px;
  height: 25px;
  opacity: 1;
}

#browse_btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#browse_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#play-pause_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

#forward_btn:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

button {
  width: 70px;
  height: 70px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

#browse_btn_icon {
  width: 25px;
  height: 25px;
  opacity: 1;
}
