.main-windows-container {
  background: linear-gradient(to bottom right, #000000, #00206f);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#lyrics {
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  width: calc(100% / 3);
}

#player {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  width: calc(100% / 3);
}

#details {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-top: auto;
  padding-bottom: 50px;
}

#time{
  display: flex;
  align-self: center;
  margin-top: auto;
  font-size: large;
  padding-bottom: 10px;
}

#thumbnail {
  display: flex;
  align-self: center;
  margin-top: auto;
  border-radius: 5px;
  width: 300px;
}

#player_controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  padding-bottom: 10px;
}

#playlist {
  border: 2px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  width: calc(100% / 3);
}

button {
  width: 70px;
  height: 70px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

button:hover {
  border-radius: 40px;
  background-color: rgba(227, 227, 227, 0.2);
  transition-duration: 0.6s;
}

img[id$="_btn_icon"] {
  width: 25px;
  height: 25px;
  opacity: 1;
}
